/* ==========================================================================
    VARIABLES
   ========================================================================== */
$type: #262624;
$blue: #EDF5F7;
$pink: #F7EDEF;
$yellow: #FAECD3;
$purple: #F5E8FF;
$purple2: #855c91;

$highligh: #FCCF68;
$hover: #FF6C86;

@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,700i&display=swap');

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500&display=swap');


/* Fonts*/
$font1: 'Cormorant Garamond',
Serif;

$font2: 'Fira Sans',
Sans-Serif;

$shadow: 3px 3px 13px rgba(33, 32, 33, 0.13);

/* ==========================================================================
    GENERAL
   ========================================================================== */

* {
    //border: .5px solid pink;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    color: $type;
    font-size: 10px;
    font-family: $font1;
    margin: 0 auto;
    scroll-behavior: smooth;
}

/* ----- TYPOGRAPHY  ----- */

a {
    text-decoration: none;
    color: $type;

    &:hover {
        color: $hover;
        text-decoration: none;
    }
}

p {
    font-family: $font2;
    color: $type;
    font-size: 2rem;
    font-weight: 300;
    margin: 2rem 0 0 0;
    line-height: 160%;
}

b {
    font-family: $font2;
    color: $type;
    font-size: 2rem;
    font-weight: 400;
}


h1 {
    font-family: $font1;
    color: $type;
    font-size: 2.3rem;
    font-weight: 400;
    margin: 3rem 0 3rem 0;
    text-align: center;

}

h2 {
    font-family: $font1;
    color: $type;
    font-size: 5rem;
    font-weight: 700;
    font-style: italic;
    line-height: 102.1%;
}

h3 {
    font-family: $font1;
    color: $type;
    font-size: 3rem;
    font-weight: 400;
    margin: 3rem 0 1rem 0;

}

h4 {
    font-family: $font2;
    font-size: 2rem;
    font-weight: 300;
    margin: 2rem 0 0 0;
    line-height: 160%;
    margin: 0 0 3rem 0;

}

i {
    transition: all .2s ease-in-out;

    &:hover {
        color: $hover;
        transform: scale(1.1);
    }
}

.fab {
    transition: all .2s ease-in-out;

    &:hover {
        color: $hover;
        transform: scale(1.1);
    }
}

li {
    list-style: none;
}

.year {
    font-family: $font1;
    color: $type;
    font-size: 5rem;
    font-weight: 700;
    font-style: italic;
    padding: 2rem 0 0 3rem;
}



/* ==========================================================================
    STRUCTURE
   ========================================================================== */


/* ----- LAYOUT  ----- */

header {
    display: flex;
    flex-flow: row-reverse wrap;
    padding: 1rem 2rem 1rem 2rem;

    .menu {
        ul {
            display: flex;
            flex-flow: row wrap;

            li {
                padding: 0 0 0 2rem;
                font-size: 2rem;
                color: lighten($color: $type, $amount: 30);
            }
        }
    }
}


.intro {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 13% 0 13% 0;

    .hello {
        padding: 0 0 15% 0;
        width: 25%;
    }

}

.photo {
    position: absolute;
    top: 17%;
    left: 10%;
    width: 12%;

    .profile_pic {
        transform: rotate(-15deg);
        width: 100%;
        background-color: white;
        box-shadow: $shadow;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        padding: 3%;

        img {
            object-fit: contain;
            width: 100%;
        }
    }
}



.project {
    width: 100%;
    padding: 9% 17% 1% 17%;
    height: 120vh;

    .project_content {
        padding: 7% 0 0 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        .gallery {
            width: calc(50% - 6rem);
            height: 450px;
            background-color: white;
            box-shadow: $shadow;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            padding: 1%;
            object-fit: contain;

            .carousel-inner {
                width: 100%;
                height: 450px;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;


            }
        }


        .description {
            width: calc(50% - 6rem);

            .qr {
                width: 25%;
                margin: 2rem 0 0 0;

                img {
                    object-fit: contain;
                    width: 100%;
                }
            }

            .ugo_link {
                display: none;
            }

            .footer {
                display: flex;
                flex-flow: row nowrap;
                align-content: center;

                i {
                    padding: 2rem 0 0 1rem;
                    font-size: 3rem;

                    &.no_sep {
                        padding: 0;
                    }
                }
            }
        }
    }

    .arrow_smooth {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        padding: 12% 0 5% 0;

    }

}

.contact {
    //padding: 20% 5% 20% 5%;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.year {
    position: absolute;
    background-color: none;
}

/* ==========================================================================
    COLORS
   ========================================================================== */

::selection {
    background: $highligh;
}

::-moz-selection {
    background: $highligh;

}

mark {
    background-color: $highligh;
}

.ugo {
    background-color: $blue;

    h4 {
        color: darken($color: $blue, $amount: 50);
    }

    .arrow_smooth {
        i {
            color: darken($color: $blue, $amount: 50);
        }
    }
}

.man {
    background-color: $pink;

    h4 {
        color: darken($color: $pink, $amount: 50);
    }

    .arrow_smooth {
        i {
            color: darken($color: $pink, $amount: 50);
        }
    }
}

.ging {
    background-color: $yellow;

    h4 {
        color: darken($color: $yellow, $amount: 50);
    }

    .arrow_smooth {
        i {
            color: darken($color: $yellow, $amount: 50);
        }
    }
}


.wave {
    background-color: $purple;

    h4 {
        color: $purple2;
    }

    .arrow_smooth {
        i {
            color: $purple2;
        }
    }
}


/* ==========================================================================
    ANIMATIONS
   ========================================================================== */
.bounce {
    animation: bounce 2s infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-15px);
    }
}


/* ==========================================================================
    BOOTSTARP
   ========================================================================== 

.carousel-control-next {
    color: black;
    //background-color: yellow;
    font-weight: 700;
    right: -7rem;
    opacity: 1;

    &:hover {
        color: $hover;
    }

    &::after {
        opacity: 1;
        color: black;
    }

    &:visited {
        opacity: 1;
        color: black;
    }

    &:active {
        opacity: 1;
        color: black;
    }
}


.carousel-control-prev {
    color: black;
    //background-color: yellow;
    font-weight: 700;
    left: -7rem;
    opacity: 1;

    &:hover {
        color: $hover;
    }

    &::after {
        opacity: 1;
        color: black;
    }

    &:visited {
        opacity: 1;
        color: black;
    }

    &:active {
        opacity: 1;
        color: black;
    }
}
*/



/* ==========================================================================
    RESPONSIVE
   ========================================================================== */


@media (max-width: 900px) {

    body,
    html {
        color: $type;
        font-size: 9px;
    }

    .intro {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin: 38% 0 15% 0;

        .hello {
            padding: 0 0 15% 0;
            margin: 20% 0 15% 0;
            width: 50%;
        }
    }

    .photo {
        position: absolute;
        top: 15%;
        right: 30%;
        width: 35%;

        .profile_pic {
            transform: rotate(5deg);
            width: 100%;
            background-color: white;
            box-shadow: $shadow;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            padding: 6%;

            img {
                object-fit: contain;
                width: 100%;
            }
        }
    }

    .project {
        width: 100%;
        padding: 11% 17% 11% 17%;
        height: auto;

        .project_content {
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            .gallery {
                width: 100%;
                margin: 15% 0 15% 0;
                height: 250px;
            }

            .description {
                width: 100%;

                .qr_all {
                    display: none;
                }

                .ugo_link {
                    display: block;
                }
            }
        }

        .arrow_smooth {
            display: none;
    
        }
    }

    .contact {
        padding: 30% 5% 40% 5%;
        text-align: center;
    }

}