/* ==========================================================================
    VARIABLES
   ========================================================================== */
$type: #262624;
$blue: #EDF5F7;
$pink: #F7EDEF;
$yellow: #FAECD3;
$purple: #F5E8FF;

$highligh: #FCCF68;
$hover: #FF6C86;

@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,700i&display=swap');

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500&display=swap');


/* Fonts*/
$font1: 'Cormorant Garamond',
Serif;

$font2: 'Fira Sans',
Sans-Serif;

$shadow: 3px 3px 13px rgba(33, 32, 33, 0.13);

/* ==========================================================================
    GENERAL
   ========================================================================== */

* {
    //border: .5px solid pink;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    color: $type;
    font-size: 10px;
    font-family: $font1;
    margin: 0 auto;
    scroll-behavior: smooth;
}

/* ----- TYPOGRAPHY  ----- */

a {
    text-decoration: none;
    color: $type;
}

p {
    font-family: $font2;
    color: $type;
    font-size: 2rem;
    font-weight: 300;
    margin: 2rem 0 0 0;
    line-height: 160%;
}

b {
    font-family: $font2;
    color: $type;
    font-size: 2rem;
    font-weight: 400;
}


h1 {
    font-family: $font1;
    color: $type;
    font-size: 2.3rem;
    font-weight: 400;
    margin: 3rem 0 3rem 0;
    text-align: center;

}

h2 {
    font-family: $font1;
    color: $type;
    font-size: 5rem;
    font-weight: 700;
    font-style: italic;
    line-height: 102.1%;
}

h3 {
    font-family: $font1;
    color: $type;
    font-size: 3rem;
    font-weight: 400;
    margin: 3rem 0 3rem 0;

}

i {
    transition: all .2s ease-in-out;
    &:hover{
        color: $hover;
        transform: scale(1.1);
    }
}

.fab {
    transition: all .2s ease-in-out;
    &:hover{
        color: $hover;
        transform: scale(1.1);
    }
}

li {
    list-style: none;
}

/* ==========================================================================
    STRUCTURE
   ========================================================================== */


/* ----- LAYOUT  ----- */

header {
    display: flex;
    flex-flow: row-reverse wrap;
    padding: 1rem 2rem 1rem 2rem;

    .menu {
        ul {
            display: flex;
            flex-flow: row wrap;

            li {
                padding: 0 0 0 2rem;
                font-size: 2rem;
                color: lighten($color: $type, $amount: 30);
            }
        }
    }
}


.intro {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 15% 0 15% 0;

    .hello {
        padding: 0 0 15% 0;
        width: 20%;
    }

}

.project {
    width: 100%;
    padding: 15% 17% 15% 17%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    .gallery {
        width: calc(50% - 6rem);
        background-color: white;
        box-shadow: $shadow;
    }

    .description {
        width: calc(50% - 6rem);
    }

    .footer {
        i {
            padding: 2rem 2rem 0 0;
            font-size: 3rem;
        }
    }
}

.contact {
    padding: 20% 5% 20% 5%;
    text-align: center;
}

/* ==========================================================================
    COLORS
   ========================================================================== */

::selection {
    background: $highligh;
}

::-moz-selection {
    background: $highligh;

}

mark {
    background-color: $highligh;
}

.ugo {
    background-color: $blue;
}

.man {
    background-color: $pink;
}

.ging {
    background-color: $yellow;
}

.wave {
    background-color: $purple;
}

.projects {
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

/* ==========================================================================
    ANIMATIONS
   ========================================================================== */
.bounce {
    animation: bounce 2s infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-15px);
    }
}



/* ==========================================================================
    RESPONSIVE
   ========================================================================== */


   @media (max-width: 900px) {

    body,
    html {
        color: $type;
        font-size: 9px;
    }
    
    .intro {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin: 35% 0 35% 0;
    
        .hello {
            padding: 0 0 15% 0;
            width: 50%;
        }
    }

    .project {
        width: 100%;
        padding: 15% 17% 15% 17%;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
    
        .gallery {
            width: 100%;
            margin: 0 0 20% 0;
        }
    
        .description {
            width: 100%;
        }
    }

  }